

body{ 
    margin: 0;
    background: #F3F1FF;
}


/*---------------- 
header navigation
 -----------------*/
nav ul{
    display: flex;
    background-color:#562EFF;
   height: 94px;
}



.font-icon{
    margin-left: 284px;
    font-size: 24px;
    margin-top: 30px;
}
.idea{
    margin-left: 15px;
    font-size: 24px;
    margin-top: 30px;
    color: #FFFFFF;
}
 ul li{
    list-style: none;
   
}
li a{
    text-decoration: none;
    color: #FFFFFF;
}
.under{
    margin-left: 847px;
    margin-Top: 35px;
 
}

.ndstart{
    margin-left: 36px;
    margin-Top: 35px;
   
}
.rdstart{
    margin-Top: 35px;
    margin-left: 36px;
}
.thstart img{
    Width:51px;
    Height:51px;
    margin-Top: 22px;
    margin-left: 36px;
}
.link{
   display: none;
  position:absolute;
  text-decoration: none;
  color: #FFFFFF;
  
}

.start:hover .link{
    display: block;
}


/*-------------------------------
        ----------------------
        1st top player section
        ----------------------
 --------------------------------*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
section{
    
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 870px;
    
}


.toper{
    padding: 30px;
    color: #562EFF;
    font-size: 24px;
    padding-top: 3px;
    padding-bottom: 40px;
}

.player{
    
    display: flex; 
}
.favur{
    padding-left: 16px;
}
.player img{
    height: 56px;
    width: 56px;
}
hr{
    border: 1px solid #D1D1D1;
    width: 807px;
}
.main-player{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
    padding-bottom: 30px;
    margin-left: 30px;
    
}
/*------------- 
    top blog
 -------------*/
 .main-blog{
    margin-bottom: 42px;
 }
 
 .bloger{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     
 }
 .blogs{
     margin-left: 30px;
     display: flex;
    
 }
 .blog img{
     width: 177px;
     height: 117px;
     padding-top: 26px;  
 }
.top{
    padding: 30px;
 color: #562EFF;
 font-size: 24px;
 padding-top: 3px;
 
}
p{
    color: #9F9F9F;
}
p a{
     text-decoration: none;
     color: blue;
 }
 .text{
     margin-left: 16px;
     margin-top: 20px;
 }

 /*----------
 Top course
  -----------*/
  .latest-course{
      margin-bottom: 22px;
  }
.another-section{
margin-top: 21px;

}
.later{
    padding: 30px;
 color: #562EFF;
 font-size: 24px;
 padding-top: 3px;
}
.allinone{
    display: flex;
    
}
.main-box img{
    width: 224px;
    height: 105px;
}
.course{
    margin-left: 30px;
    border: 1px solid whitesmoke;
    
    box-shadow: 10px 10px 10px whitesmoke;
    border-radius: 15px;
 
} 
.orng{
    color: #ED6B4F;
}
.star{
    color: #FFC014;
 
}
span{
    color: #A2A2A2;
    margin-left: 10px;
}
.emty{
    color: #AEAEAE;
}
 #clock{
     margin-left: 30px;
     background-color: #FFE4E8;
     border-radius: 15px;
     padding: 5px;
     color: #FF4A60;
 }
 .cute{
     display: flex;
 }
 .right{
     margin-left: 30px;
   
 }
 .left{
     margin-right: 36px;
 }


@media only screen and (max-width:688px) {
   
    nav ul{
        width: 100%;
       
        
    }
    section{
        width: 100%;
    }
    
    .main-player{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .bloger{
       
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
hr{
    width: 600px;
}
nav ul{
    width: 650px;
}
.allinone{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.course{
    width: 300px;
    margin-bottom: 50px;
   
}
}















